@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Alegreya', serif;
  background-color: #e3f1f1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
